.input-list {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 7px solid black;
  padding: 25px;
  margin-top: 10px;
}

.submit {
  background-color: #5DE1E6;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}

.submit:hover {
  background-color: #5d9be6;
  transition: .5s;
  transform: scale(1.1);
}